supertokens_db_cleaning.sh
.env

*.log

.air.toml

tmp

_data/
!_data/.gitkeep
vendor/

.idea/

resources/http-client.env.json
.vscode/settings.json

*.local.yaml
*.development.yaml

.DS_STORE
.DS_Store

deployments/.vault

dbconfig.yml