version: "3.9"

name: core-konsulin-stacks

services:
  postgres-core-konsulin:
    image: postgres:16.5-alpine
    container_name: postgres-core-konsulin
    restart: unless-stopped
    ports:
      - "7500:5432"
    environment:
      POSTGRES_USER: supertokens
      POSTGRES_PASSWORD: supertokens
      POSTGRES_DB: supertokens
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER -d $$POSTGRES_DB"]
      interval: 5s
      timeout: 3s
      retries: 20
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis-core-konsulin:
    image: bitnami/redis:latest
    container_name: redis-core-konsulin
    restart: unless-stopped
    ports:
      - "6379:6379"
    environment:
      ALLOW_EMPTY_PASSWORD: "no"
      REDIS_PASSWORD: redispass
    command: ["/opt/bitnami/scripts/redis/run.sh"]
    volumes:
      - redis_data:/bitnami/redis/data

  rabbitmq-core-konsulin:
    image: rabbitmq:3.12-management-alpine
    container_name: rabbitmq-core-konsulin
    restart: unless-stopped
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: password
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  blaze-core-konsulin:
    image: samply/blaze:latest
    container_name: blaze-core-konsulin
    restart: unless-stopped
    ports:
      - "8080:8080"
    environment:
      BASE_URL: "http://localhost:8080"
      CONTEXT_PATH: "/fhir"
    volumes:
      - blaze_data:/app/data

  supertokens-core-konsulin:
    image: registry.supertokens.io/supertokens/supertokens-postgresql:latest
    container_name: supertokens-core-konsulin
    restart: unless-stopped
    depends_on:
      postgres-core-konsulin:
        condition: service_healthy
    ports:
      - "3567:3567"
    environment:
      POSTGRESQL_CONNECTION_URI: "postgresql://supertokens:supertokens@postgres-core-konsulin:5432/supertokens"
    # volumes:
    #   - supertokens_data:/usr/lib/supertokens

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:
  blaze_data:
  # supertokens_data: