{
  "dev": {
    "access_token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NTQ1NTY5NTUsImlhdCI6MTcxODU1Njk1NX0.kdzCjWsNsXENZq2Ll2Kb1lTHbK5EL-3u_8LOTza8CE4",
    "base_url": "http://localhost:8080"
  }
}
