version: '3.7'

networks:
  proxy:
    external: true
    name: nginx-proxy

services:
  api-{{ internal_config.app.env }}:
    image: "{{ image.repository }}:{{ image.tag }}"
    restart: always
    logging:
      driver: "{{ logging.driver | default('json-file') }}"
      options:
        max-size: "{{ logging.options.max-size | default('200k') }}"
        max-file: "{{ logging.options.max-file | default('10') }}"
    volumes:
      - "{{ deployment_path }}/config.{{ internal_config.app.env }}.yaml:/app/config.{{ internal_config.app.env }}.yaml"
    environment:
      APP_ENV: {{ internal_config.app.env }}
      VIRTUAL_PORT: {{ internal_config.app.port }}
      VIRTUAL_HOST: {{ domain.virtual_host }}
      LETSENCRYPT_HOST: {{ domain.letsencrypt_host }}
      LETSENCRYPT_EMAIL: {{ domain.letsencrypt_email }}
    networks:
      - proxy
